.header {
	position: fixed;
	left: 0;
	height: 100vh;
	width: 7vw;
	padding: 4vh 3vh;
	font-family: 'DM Mono', monospace;
	font-weight: 300;
}

.header .header__navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.header__navigation .navigation__tab {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__navigation .navigation__tab .tab__menu {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header__navigation .navigation__tab .tab__menu .menu-bar {
	height: 1.7rem;
	font-size: 1.4rem;
	letter-spacing: -0.2rem;
}

.header__navigation .navigation__tab .tab__menu .menu-hide {
	display: none;
}

.header__navigation .navigation__tab .tab__menu:hover .menu-bar {
	position: relative;
	right: -1.4rem;
}

.header__navigation .navigation__tab .tab__menu:hover .menu-hide {
	display: block;
	position: relative;
	right: -1.4rem;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	opacity: 0;
	animation: show-menu ease-in-out 0.3s forwards;
}

@keyframes show-menu {
	0% {
		opacity: 0;
		transform: translateX(5px);
	}
	50% {
		opacity: 3;
		transform: translateX(9px);
	}
	100% {
		opacity: 10;
		transform: translateX(15px);
	}
}

.header__navigation .navigation__tab .tab__logo {
	margin: 2rem 0;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: -0.1rem;
	writing-mode: vertical-rl;
	cursor: pointer;
	transform: rotate(180deg);
}

.header__navigation .navigation__social-media {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.header__navigation .navigation__social-media .social-media__icons .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.7rem;
	height: 1.7rem;
	margin-top: 1rem;
	border-radius: 1rem;
	border: #18428b solid 1.5px;
	font-size: 1.1rem;
	cursor: pointer;
}

.header__navigation .navigation--slash {
	height: 3.5rem;
	border-left: #18428b solid 1px;
}

.header__navigation .navigation__social-media .social-media--slash {
	margin-bottom: 1.3rem;
	border-left: #18428b solid 1.2px;
}
