.header {
	position: fixed;
	left: 0;
	height: 100vh;
	width: 7vw;
	padding: 4vh 3vh;
	font-family: 'DM Mono', monospace;
	font-weight: 300;
}

.header .header__nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.header__nav .contact {
	position: fixed;
	top: 2rem;
	right: 4.5rem;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.header__nav .contact .contact__email {
	z-index: 3;
}

.header__nav .contact .contact-effect {
	display: none;
}

.header__nav .contact:hover .contact-effect {
	display: block;
	position: relative;
	top: -0.5rem;
	right: -0.3rem;
	width: 0.2rem;
	height: 0.5rem;
	background-color: #b2c6e2;
	z-index: -1;
	animation: email-underscore 0.15s ease forwards;
	transform-origin: left;
}

@keyframes email-underscore {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(30);
	}
	100% {
		transform: scaleX(60);
	}
}

.header__nav .tab {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__nav .tab .tab__menu {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header__nav .tab .tab__menu .menu-bar {
	height: 1.7rem;
	font-size: 1.4rem;
	letter-spacing: -0.2rem;
}

.header__nav .tab .tab__menu .menu-hide {
	display: none;
}

.header__nav .tab .tab__menu:hover .menu-bar {
	position: relative;
	right: -1.4rem;
}

.header__nav .tab .tab__menu:hover .menu-hide {
	display: block;
	position: relative;
	right: -1.4rem;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	opacity: 0;
	animation: show-menu ease-in-out 0.2s forwards;
}

@keyframes show-menu {
	0% {
		opacity: 0;
		transform: translateX(5px);
	}
	50% {
		opacity: 3;
		transform: translateX(9px);
	}
	100% {
		opacity: 10;
		transform: translateX(15px);
	}
}

.header__nav .tab .tab__logo {
	margin: 2rem 0;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: -0.1rem;
	writing-mode: vertical-rl;
	cursor: pointer;
	transform: rotate(180deg);
}

.header__nav .social-media {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.header__nav .social-media .social-media__icons .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.7rem;
	height: 1.7rem;
	margin-top: 1rem;
	border-radius: 1rem;
	border: #18428b solid 1.5px;
	font-size: 1.1rem;
	cursor: pointer;
}

.header__nav .nav--slash {
	height: 3.5rem;
	border-left: #18428b solid 1px;
}

.header__nav .social-media .social-media--slash {
	margin-bottom: 1.3rem;
	border-left: #18428b solid 1.2px;
}
