.main {
	font-weight: 500;
}

.main .content-wrapper {
	position: relative;
	height: 65vh;
	margin: 17.5vh 0;
}

/* content 공통 스타일 */
.content-wrapper .content {
	display: none;
}

.content-wrapper .content .content__title-overflow {
	overflow: hidden;
	position: absolute;
	left: 15rem;
	top: 2rem;
	width: 55rem;
	padding: 0.5rem 0;
}

.content-wrapper .content .content__title {
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 7px rgba(245, 245, 245, 0.589);
	transition: all ease-in-out 0.7s 0.4s;
}

.content-wrapper .content .content__title:hover {
	transition: transform 0.4s ease-in-out;
	transform: translateY(-1.3rem);
	cursor: pointer;
}

.content-wrapper .content .content__img-wrapper {
	z-index: -1;
	transition: transform ease-in 0.5s 0.6s;
}

.content-wrapper .content .content__img {
	width: 65vw;
	height: 65vh;
	object-fit: cover;
	transition: transform linear 0.3s;
}

.content-wrapper .content .content__info-overflow {
	overflow: hidden;
	position: absolute;
	bottom: -1rem;
	right: 13rem;
	transform: rotate(270deg);
}

.content-wrapper .content .content__info-overflow .content__info-wrapper {
	background-color: #f8f8f89a;
	font-size: 1.3rem;
	transition: all linear 0.7s 0.4s;
}

/* counter */
.content-wrapper .content__page-counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0rem;
	right: 3rem;
	font-size: 14px;
	transition: transform ease-in 1s 0.6s;
}

.content-wrapper .content__page-counter .counter-slash {
	padding: 8px 0;
}

.content-wrapper .content__page-counter .counter-total {
	padding-bottom: 15px;
}

.content-wrapper .content__page-counter .counter-next {
	font-size: 11px;
	cursor: pointer;
}

/* is-working */
.content-wrapper .is-working {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}

/* 배경 패턴 */
.main .bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	height: auto;
	transition: all ease-in-out 1.5s 0.4s;
	z-index: -10;
}

.main .bg .bg-blue {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d9e1e7;
	height: 50vh;
	width: 100%;
	z-index: -5;
}

.main .bg .bg-pattern {
	position: absolute;
	top: 7rem;
	right: 5rem;
	width: 65%;
	height: 60vh;
	background: url('../images/pattern.png') no-repeat;
	background-size: cover;
	z-index: -2;
}
