.main {
}

.main .content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.main .content .content__title {
	position: absolute;
	left: 12rem;
	top: 12rem;
	width: 50rem;
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 5px 10px rgba(245, 245, 245, 0.603);
}

.main .content .content__img {
	width: 65vw;
	height: 65vh;
	object-fit: cover;
	z-index: -1;
}

.main .content .content__info-wrapper {
	position: absolute;
	bottom: 7rem;
	right: 12.5rem;
	background-color: rgba(252, 252, 252, 0.603);
	font-size: 1.3rem;
	transform: rotate(270deg);
}

.main .content .content__page-counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 7rem;
	right: 3rem;
	font-size: 14px;
}

.main .content .content__page-counter .counter-slash {
	padding: 8px 0;
}

.main .content .content__page-counter .counter-total {
	padding-bottom: 15px;
}

.main .content .content__page-counter .counter-next {
	font-size: 11px;
	cursor: pointer;
}
