.main {
	font-weight: 500;
}
.main .content-wrapper {
	width: 100%;
	height: 100%;
}

/* content 공통 스타일 */

.content-wrapper .content {
	display: none;
}

.content-wrapper .content .content__title {
	position: absolute;
	left: 15rem;
	top: 2rem;
	width: 55rem;
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.589);
	transition: all 0.4s;
}

.content-wrapper .content .content__title:hover {
	transition: transform 0.4s ease-in-out;
	transform: translateY(-1.3rem);
}

.content-wrapper .content .content__img {
	width: 65vw;
	height: 65vh;
	object-fit: cover;
	z-index: -1;
}

.content-wrapper .content .content__info-wrapper {
	position: absolute;
	bottom: -1rem;
	right: 17.5rem;
	background-color: rgba(252, 252, 252, 0.678);
	font-size: 1.3rem;
	transform: rotate(270deg);
}

.content-wrapper .content .content__page-counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0rem;
	right: 3rem;
	font-size: 14px;
}

.content-wrapper .content .content__page-counter .counter-slash {
	padding: 8px 0;
}

.content-wrapper .content .content__page-counter .counter-total {
	padding-bottom: 15px;
}

.content-wrapper .content .content__page-counter .counter-next {
	font-size: 11px;
	cursor: pointer;
}

/* is-working */
.content-wrapper .is-working {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 17.5vh 0;
}

/* content-1 */

/* content-2 */
/* content-3 */
/* content-4 */
/* content-5 */
/* content-6 */
/* content-7 */
/* content-8 */
/* content-9 */
/* content-10 */

/* 배경 패턴 */
.main .bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 50vw;
	height: auto;
}

.main .bg .bg-blue {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d9e1e7;
	height: 50vh;
	width: 100%;
	z-index: -5;
}

.main .bg .bg-pattern {
	position: absolute;
	top: 7rem;
	right: 5rem;
	width: 65%;
	height: 60vh;
	background: url('../images/pattern.png') no-repeat;
	background-size: cover;
	z-index: -2;
}
