@import 'reset.css';
@import 'header.css';
@import 'main.css';

* {
	box-sizing: border-box;
	color: #18428b;
	user-select: none;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background-color: #ededed;
	font-family: 'IBM Plex Sans', sans-serif;
}
