@import 'reset.css';
@import 'header.css';
@import 'main.css';

* {
	box-sizing: border-box;
	color: #18428b;
	user-select: none;
}

body {
	background-color: #ededed;
	font-family: 'IBM Plex Sans', sans-serif;
}

.slogan-back {
	display: none;
}
